body {
  background-color: #5d5436;
  background-image: url("/DeeplyNestedObject/Img/background.png");
  background-position: center center;
  background-repeat: no-repeat, repeat;
  background-size: 100vw;
  font-family: "Montserrat", Verdana;
}

/* MOBILE-FIRST GRID LAYOUT */

.calendar-grid {
  display: grid;
  width: 96%;
  max-width: 900px;
  margin: 2% auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  grid-template-areas:
    "title title title"
    "day23 day20 day12"
    "day2 day14 day4"
    "day5 day22 day16"
    "day1 day7 day9"
    "day10 day11 day18"
    "day13 day3 day15"
    "day6 day17 day8"
    "day19 day24 day21";
}

/* INDIVIDUAL GRID ITEMS */

@font-face {
  font-family: tittle1_Font;
  src: url("/DeeplyNestedObject/font/ChalkboyRegular-vmXe7.otf");
}

@font-face {
  font-family: tittle2_Font;
  src: url("/DeeplyNestedObject/font/KgTenThousandReasonsAlt-BOrl.ttf");
}

.title {
  grid-area: title;
  text-align: center;
  color: #5d5436;
}

.title-lines-container {
  background: #ffffff;
  border-radius: 10px;
  border: 3px solid #887d63;
  /* transform: rotate(2deg); */
  margin: 1% 0 0 0;
  /* box-shadow: #0a5656 3px; */
}

.title-line1 {
  font-family: tittle1_Font;
  text-transform: uppercase;
  font-size: 70px;
  margin: 0;
  line-height: 1.1em;
  padding: 10px 10px 0;
}

.title-line2 {
  font-family: tittle2_Font;
  font-size: 25px;
  line-height: 1.1em;
  margin: 0;
  padding: 0 15px 15px;
}

.bigger-text {
  font-size: 40px;
}

.title-intro {
  font-family: tittle2_Font;
  background: #ffffff;
  padding: 10px 25px;
  border: 1px solid #5d5436;
  border-radius: 10px;
  line-height: 1.5em;
  margin: 5% 1% 1%;
}

/* Individual grid item styles... (day1, day2, day3, etc.) */

.day1 {
  grid-area: day1;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/1.jpeg");
  }
}
.day2 {
  grid-area: day2;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/2.png");
  }
}
.day3 {
  grid-area: day3;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/3.jpg");
  }
}
.day4 {
  grid-area: day4;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/4.jpg");
  }
}
.day5 {
  grid-area: day5;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/5.jpg");
  }
}
.day6 {
  grid-area: day6;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/6.jpeg");
  }
}
.day7 {
  grid-area: day7;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/7.jpeg");
  }
}
.day8 {
  grid-area: day8;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/8.jpg");
  }
}
.day9 {
  grid-area: day9;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/9.jpg");
  }
}
.day10 {
  grid-area: day10;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/10.jpg");
  }
}
.day11 {
  grid-area: day11;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/11.jpg");
  }
}
.day12 {
  grid-area: day12;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/12.jpg");
  }
}
.day13 {
  grid-area: day13;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/13.jpg");
  }
}
.day14 {
  grid-area: day14;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/14.jpg");
  }
}
.day15 {
  grid-area: day15;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/15.jpg");
  }
}
.day16 {
  grid-area: day16;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/16.jpg");
  }
}
.day17 {
  grid-area: day17;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/17.jpg");
  }
}
.day18 {
  grid-area: day18;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/18.jpeg");
  }
}
.day19 {
  grid-area: day19;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/19.jpg");
  }
}
.day20 {
  grid-area: day20;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/20.jpg");
  }
}
.day21 {
  grid-area: day21;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/21.jpg");
  }
}
.day22 {
  grid-area: day22;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/22.jpg");
  }
}
.day23 {
  grid-area: day23;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/23.jpg");
  }
}
.day24 {
  grid-area: day24;
  .back {
    background: url("/DeeplyNestedObject/Img/mangoimg/24.jpg");
  }
}
/* DOOR STYLES */

.calendar-grid input {
  display: none;
}

.door {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 300ms;
  border: 1.5px dashed #344f63;
  border-radius: 10px;
  cursor: pointer;
  min-height: 110px;
  font-family: "BioRhyme", serif;
  font-size: 58px;
  color: #ffffff;
}

.door.hover {
  border-color: #344f63;
}

.door:not(.hover):hover {
  border: 1.5px dashed #ffffff;
}

/* Styles for door's front and back... */
/* DOOR STYLES */
.door div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.door .front {
  font-family: tittle2_Font;
  background: rgba(182, 151, 124, 0.1);
  text-shadow: 2px 2px 0 #50473b, 2px -2px 0 #50473b, -2px 2px 0 #50473b,
    -2px -2px 0 #50473b, 2px 0px 0 #50473b, 0px 2px 0 #50473b,
    -2px 0px 0 #50473b, 0px -2px 0 #50473b;
}

.door .back {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #50473b;
  transform: rotateY(180deg);
}

.open {
  transform: rotateY(180deg);
}

/* Footer Styles */
footer {
  height: 50px;
  padding: 15px 15px 10px;
  text-align: right;
}

footer p {
  margin-top: 25px;
  color: #222222;
}

/* MODAL (BACKGROUND) Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* MODAL CONTENT + BOX Styles */
.modalContent {
  font-family: tittle2_Font;
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px 20px 30px;
  border: 4px solid #514e49;
  border-radius: 6px;
  width: 76%;
  max-width: 600px;
  min-height: 200px;
  letter-spacing: 0.5px;
  line-height: 2em;
}

.modalContent p {
  font-size: 0.9em;
}

.dailyTitle {
  font-family: tittle1_Font;
  font-size: 40px;
  color: #5d5436;
}

.dailyDate {
  color: #705121;
}

.mangodetail {
  color: #705121;
}

.highlight {
  font-weight: bold;
  color: #da9e37;
}

/* MODAL CLOSE BUTTON (X) Styles */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  line-height: 26px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* DESKTOP LAYOUT (Media Query) */
@media only screen and (min-width: 520px) {
  .calendar-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "title title title day2 day7 day8"
      "title title title day4 day11 day12"
      "title title title day19 day9 day13"
      "day6 day1 day24 day24 day21 day20"
      "day17 day18 day24 day24 day5 day22"
      "day3 day23 day16 day14 day10 day15";
  }
}

/* Footer, Modal, and Modal Content styles... */
